@import "./fonts/stylesheet.css";
html,
body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "AeonikT", sans-serif;
  font-size: 24px;
  color: #000;
  line-height: 130%;
  font-weight: 300;
  background: #fff;
  position: relative;
  padding: 0 40px 100px;
  min-height: 100vh;
}

.body__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  padding: 0 55px;
}

h1 {
  font-weight: 300;
  font-size: 70px;
  line-height: 120%;
  text-transform: uppercase;
}
h1 span {
  color: #1ce356;
}

h2 {
  font-weight: 300;
  font-size: 56px;
  line-height: 120%;
}

h3 {
  font-weight: 300;
  font-size: 44px;
  line-height: 120%;
}

h4 {
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
}

h5 {
  font-size: 30px;
  line-height: 120%;
  font-weight: 300;
}

h6 {
  font-size: 26px;
  line-height: 120%;
  font-weight: 700;
}

p.big {
  font-weight: 300;
  font-size: 34px;
  line-height: 130%;
}
p.sm {
  font-size: 20px;
  line-height: 130%;
}

.main {
  overflow: hidden;
  position: relative;
  max-width: 1470px;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 112.02px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 100%;
  font-family: "AeonikT", sans-serif;
  padding: 20px 25px;
  font-weight: 700;
  text-transform: uppercase;
}
.button.primary {
  border: 1px solid transparent;
  color: #002225;
  background-color: #1ce356;
}
.button.primary:hover {
  opacity: 1;
  background-color: #002b48;
  color: #fff;
  border-color: #fff;
}

.video {
  width: 100%;
  padding-bottom: 56%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000065;
  opacity: 0.3;
}
.video.active {
  opacity: 1;
}
.video.active::after {
  display: none;
}
.video.active .video__play::before {
  display: none;
}
.video.active .video__play::after {
  display: none;
}
.video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.video video:hover ~ .video__play.active {
  opacity: 1;
}
.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  z-index: 3;
  cursor: pointer;
}
.video__play:hover {
  opacity: 1;
}
.video__play:hover span {
  background-color: #002b48;
}
.video__play.active {
  opacity: 0;
}
.video__play.active span img {
  display: none;
}
.video__play.active span::after {
  display: block;
}
.video__play.active span::before {
  display: block;
}
.video__play.active:hover {
  opacity: 1;
}
.video__play span {
  width: 75px;
  height: 75px;
  background-color: rgba(0, 43, 72, 0.7);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.video__play span::after {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  width: 5%;
  height: 30%;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.video__play span::before {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  right: 40%;
  width: 5%;
  height: 30%;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.video__play span img {
  width: 15%;
  max-width: 15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #002b48;
}
.header__inner {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 235px;
}
.header__inner-logo img {
  width: 100%;
}

@-webkit-keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__inner li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 60px;
}
.nav__inner li:last-child {
  margin: 0;
}
.nav__inner li a {
  font-size: 30px;
  line-height: 100%;
  font-weight: 400;
  color: #fff;
  padding: 10px;
}
.nav__inner li a.active {
  color: #1ce356;
}
.nav__inner li a:hover {
  opacity: 1;
  color: #1ce356;
}

.burger {
  display: none;
}

.footer {
  background-color: #002b48;
  padding: 60px 0 80px;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner-logo {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}
.footer__inner-logo img {
  width: 100%;
}

.about .auto__container {
  padding: 0;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__inner-image {
  position: relative;
  padding-bottom: 66%;
}
.about__inner-image-wrapper {
  width: 50%;
}
.about__inner-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.about__inner-content {
  width: 50%;
  max-width: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 55px 30px 30px;
}

.hero {
  padding: 50px 0 90px;
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.hero__inner-top {
  background-color: #002b48;
  color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.hero__inner-logo {
  width: 70%;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.hero__inner-logo img {
  width: 100%;
}
.hero__inner-text h4 {
  margin-bottom: 30px;
  line-height: 130%;
}
.hero__inner-text h4 span {
  color: #1ce356;
}
.hero__inner-text p {
  max-width: 1024px;
  margin: 0 auto 30px;
}

.expect__inner {
  border-top: 3px solid #edebe5;
  border-bottom: 3px solid #edebe5;
  padding: 50px 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.expect__inner-content {
  width: calc(43% - 10px);
  max-width: 530px;
}
.expect__inner-banner {
  width: calc(57% - 10px);
  max-width: 780px;
}
.expect__inner h3 {
  margin-bottom: 30px;
}

.themes__inner {
  padding: 60px 0 80px;
  border-bottom: 3px solid #edebe5;
}
.themes__inner-title {
  margin-bottom: 40px;
}
.themes__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.themes__inner h3 {
  margin-bottom: 24px;
}
.themesItem {
  width: calc(25% - 10px);
  max-width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000;
}
.themesItem:hover {
  opacity: 1;
}
.themesItem:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.themesItem__image {
  width: 100%;
  padding-bottom: 66%;
  position: relative;
  margin-bottom: 16px;
  border-radius: 10px;
  overflow: hidden;
}
.themesItem__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.themesItem h6 {
  font-weight: 700;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.themesItem p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.company__inner {
  border-top: 3px solid #edebe5;
  padding: 80px 0 100px;
}
.company__inner-title {
  margin-bottom: 40px;
}
.company__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px;
}
.company__inner h3 {
  margin-bottom: 24px;
}
.companyItem {
  width: calc(20% - 10px);
  margin: 15px 5px;
}
.companyItem__logo {
  width: 100%;
  position: relative;
  padding-bottom: 48%;
}
.companyItem__logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.info {
  padding: 110px 0;
}
.info__inner-title {
  margin-bottom: 50px;
}
.info__inner h2 {
  margin-bottom: 24px;
}
.infoContent {
  margin-bottom: 50px;
}
.infoContent:last-child {
  margin: 0;
}
.infoContent h4 {
  font-weight: 400;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.infoContent ul li {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.infoContent ul li:last-child {
  margin: 0;
}
.infoContent ul li p:last-child {
  width: calc(100% - 160px);
}
.infoItem {
  border-bottom: 1px solid #7f7f7f;
}
.infoItem:first-child {
  border-top: 1px solid #7f7f7f;
}
.infoItem__head {
  padding: 35px 60px 35px 0;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
}
.infoItem__head.active::before {
  -webkit-transform: translateY(-40%) rotate(-45deg);
          transform: translateY(-40%) rotate(-45deg);
}
.infoItem__head::before {
  position: absolute;
  top: 50%;
  right: 20px;
  content: "";
  width: 30px;
  height: 30px;
  border-top: 3px solid #1ce356;
  border-right: 3px solid #1ce356;
  -webkit-transform: translateY(-70%) rotate(135deg);
          transform: translateY(-70%) rotate(135deg);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.infoItem__body {
  max-height: 0;
  opacity: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  overflow: hidden;
}
.infoItem__body.active {
  padding: 0 0 30px 0;
  opacity: 1;
  max-height: 400px;
}
.infoItem h5 {
  text-transform: uppercase;
  line-height: 130%;
}
.infoItem p {
  line-height: 150%;
}

@media (max-width: 1380px) {
  .auto__container {
    padding: 0 40px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 30px;
  }

  h5 {
    font-size: 25px;
  }

  h6 {
    font-size: 22px;
  }

  p.big {
    font-size: 30px;
  }
  p.sm {
    font-size: 18px;
  }

  body {
    font-size: 20px;
    line-height: 135%;
  }

  .main {
    padding-top: 96.47px;
  }

  .header__inner {
    padding: 25px 0;
  }
  .header__inner-logo {
    width: 210px;
  }

  .nav__inner li {
    margin-right: 40px;
  }
  .nav__inner li a {
    font-size: 25px;
    line-height: 100%;
  }

  .about__inner-content {
    padding: 30px 40px 30px 30px;
  }

  .info {
    padding: 80px 0;
  }
  .infoContent ul li {
    margin-bottom: 20px;
  }
  .infoContent ul li p:last-child {
    width: calc(100% - 110px);
  }
  .infoItem__head {
    padding: 28px 55px 28px 0;
  }
  .infoItem__head::before {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 1180px) {
  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 20px;
  }

  p.big {
    font-size: 25px;
  }
  p.sm {
    font-size: 16px;
  }

  body {
    font-size: 18px;
    line-height: 135%;
    padding: 0 30px 80px;
  }

  .button {
    font-size: 20px;
    padding: 15px 25px;
  }

  .themes__inner {
    padding: 40px 0 60px;
  }
  .themes__inner-title {
    margin-bottom: 24px;
  }
  .themes__inner h3 {
    margin-bottom: 16px;
  }
  .themesItem {
    width: calc(25% - 7px);
  }
  .themesItem__image {
    margin-bottom: 10px;
  }
  .themesItem h6 {
    margin-bottom: 10px;
  }

  .footer {
    padding: 40px 0 60px;
  }
  .footer__inner-logo {
    width: 200px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .auto__container {
    padding: 0 30px;
  }

  .main {
    padding-top: 80px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  p.big {
    font-size: 20px;
  }
  p.sm {
    font-size: 16px;
  }

  body {
    font-size: 16px;
    padding: 0;
  }

  .header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-animation-name: sticky;
            animation-name: sticky;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-box-shadow: 0px 4px 4px 0px #00000021;
            box-shadow: 0px 4px 4px 0px #00000021;
  }
  .header__inner {
    padding: 20px 0;
  }
  .header__inner-logo {
    width: 180px;
  }

  body.active {
    overflow: hidden;
  }

  .nav {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    z-index: 9;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
  }
  .nav.active {
    transform: translate(0, 0);
    -moz-ransform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  .nav__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 360px;
    z-index: 1;
    padding: 50px 20px 20px 20px;
    height: 100%;
    overflow-y: auto;
    background: #002b48;
  }
  .nav__inner li {
    margin: 0 0 30px 0;
  }
  .nav__inner li:last-child {
    margin: 0;
  }
  .nav__inner li a {
    font-size: 30px;
  }

  .burger {
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    position: relative;
    width: 40px;
    height: 40px;
  }
  .burger:hover {
    opacity: 0.8;
  }
  .burger::before {
    top: 18%;
    width: 100%;
    height: 4px;
    background-color: #1ce356;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -moz-ransform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  .burger span {
    top: 50%;
    width: 100%;
    height: 4px;
    background-color: #1ce356;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-ransform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
  }
  .burger::after {
    bottom: 18%;
    width: 100%;
    height: 4px;
    background-color: #1ce356;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -moz-ransform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  .burger.active::before {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .burger.active span {
    opacity: 0;
  }
  .burger.active::after {
    bottom: 50%;
    -webkit-transform: translate(-50%, 50%) rotate(-45deg);
    transform: translate(-50%, 50%) rotate(-45deg);
  }

  .hero {
    padding: 40px 0 70px;
  }
  .hero__inner-logo {
    width: 250px;
  }
  .hero__inner-top {
    padding: 40px;
    max-width: 520px;
    margin-bottom: 25px;
  }

  .about__inner-content {
    padding: 30px 30px 30px 20px;
  }

  .info {
    padding: 60px 0;
  }
  .info__inner-title {
    margin-bottom: 30px;
  }
  .info__inner h2 {
    margin-bottom: 20px;
  }
  .infoContent {
    margin-bottom: 30px;
  }
  .infoContent h4 {
    margin-bottom: 20px;
  }
  .infoContent ul li p:last-child {
    width: calc(100% - 90px);
  }
  .infoItem__head {
    padding: 24px 45px 24px 0;
  }
  .infoItem__head::before {
    right: 15px;
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 930px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 25px;
  }

  .video__play span {
    width: 60px;
    height: 60px;
  }

  .expect__inner {
    padding: 30px 0 60px;
    border-width: 2px;
  }
  .expect__inner h3 {
    margin-bottom: 20px;
  }

  .themes__inner {
    padding: 30px 0;
  }
  .themes__inner-title {
    margin-bottom: 20px;
  }
  .themes__inner-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -10px;
  }
  .themesItem {
    width: calc(50% - 20px);
    max-width: unset;
    margin: 15px 10px;
  }

  .company__inner {
    padding: 50px 0;
    border-width: 2px;
  }
}
@media (max-width: 750px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  .expect__inner {
    padding: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .expect__inner-content {
    width: 100%;
    max-width: unset;
    margin-bottom: 20px;
  }
  .expect__inner-banner {
    width: 100%;
    max-width: unset;
  }
  .expect__inner h3 {
    margin-bottom: 15px;
  }

  .themes__inner-row {
    margin: 0 -6px;
  }
  .themesItem {
    width: calc(50% - 12px);
    margin: 12px 6px;
  }

  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__inner-image-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  .about__inner-image-wrapper:last-child {
    margin: 0;
  }
  .about__inner-content {
    width: 100%;
    max-width: unset;
    padding: 0 30px 30px;
  }

  .companyItem {
    width: calc(25% - 10px);
  }
  .companyItem__logo img {
    width: 85%;
  }
}
@media (max-width: 540px) {
  .auto__container {
    padding: 0 20px;
  }

  .main {
    padding-top: 70px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  p.big {
    font-size: 20px;
  }
  p.sm {
    font-size: 14px;
  }

  body {
    font-size: 14px;
  }

  .button {
    font-size: 16px;
    padding: 13px 20px;
  }

  .video__play span {
    width: 50px;
    height: 50px;
  }

  .header__inner-logo {
    width: 130px;
  }

  .nav {
    top: 70px;
    height: calc(100% - 70px);
  }

  .burger {
    width: 30px;
    height: 30px;
  }
  .burger::before {
    height: 3px;
  }
  .burger span {
    height: 3px;
  }
  .burger::after {
    height: 3px;
  }

  .hero {
    padding: 30px 0;
  }
  .hero__inner-logo {
    width: 70%;
    max-width: 220px;
    margin-bottom: 20px;
  }
  .hero__inner-top {
    padding: 30px;
  }
  .hero__inner-text h4 {
    margin-bottom: 20px;
  }
  .hero__inner-text p {
    margin-bottom: 20px;
  }

  .themes__inner-title {
    margin-bottom: 24px;
  }
  .themes__inner-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .themesItem {
    width: 100%;
    margin: 0 0 30px 0;
  }
  .themesItem:last-child {
    margin: 0;
  }

  .about__inner-content {
    padding: 0 20px 30px;
  }
  .about__inner-image-wrapper {
    margin-bottom: 15px;
  }

  .info {
    padding: 30px 0;
  }
  .info__inner-title {
    margin-bottom: 24px;
  }
  .info__inner h2 {
    margin-bottom: 15px;
  }
  .infoContent {
    margin-bottom: 24px;
  }
  .infoContent h4 {
    margin-bottom: 16px;
  }
  .infoContent ul li {
    margin-bottom: 16px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .infoContent ul li p:last-child {
    width: calc(100% - 70px);
  }
  .infoItem__head {
    padding: 20px 40px 20px 0;
  }
  .infoItem__head::before {
    right: 10px;
    width: 15px;
    height: 15px;
    border-width: 2px;
  }
  .infoItem h5 {
    font-size: 16px;
  }

  .company__inner {
    padding: 30px 0;
  }
  .company__inner-title {
    margin-bottom: 24px;
  }
  .company__inner h3 {
    margin-bottom: 16px;
  }
  .companyItem {
    width: calc(50% - 10px);
    margin: 10px 5px;
  }
  .companyItem__logo img {
    width: 75%;
  }

  .footer {
    padding: 30px 0 40px;
  }
  .footer__inner-logo {
    width: 160px;
    margin-bottom: 24px;
  }
}