html,
body {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
button {
  outline: none;
}
button:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($color: #000, $alpha: 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($color: #000, $alpha: 0.3);
}
/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: $mainFont;
  font-size: 24px;
  color: $black;
  line-height: 130%;
  font-weight: 300;
  background: $white;
  position: relative;
  padding: 0 40px 100px;
  min-height: 100vh;
}
.body {
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      @include fullImage;
      object-position: left;
    }
  }
}
a {
  text-decoration: none;
  opacity: 1;
  color: $white;
  transition: 0.3s ease;
  cursor: pointer;
  &:hover {
    opacity: 0.88;
  }
}
ul {
  li {
    list-style: none;
  }
}
.auto__container {
  position: relative;
  padding: 0 55px;
}
