.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $main;
  &__inner {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 235px;
      img {
        width: 100%;
      }
    }
  }
}
// 1380px
@mixin header-xxxlg-xxxxlg {
  .header {
    &__inner {
      padding: 25px 0;
      &-logo {
        width: 210px;
      }
    }
  }
}
// 1024px
@mixin header-lg-xlg {
  .header {
    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      animation-name: sticky;
      animation-duration: 0.4s;
      box-shadow: 0px 4px 4px 0px #00000021;
    }
    &__inner {
      padding: 20px 0;
      &-logo {
        width: 180px;
      }
    }
  }
}
// 540px
@mixin header-xsm-sm {
  .header {
    &__inner {
      &-logo {
        width: 130px;
      }
    }
  }
}
@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
